@import "tailwindcss";

:root {
  background-color: #000000;
  color: #ffffff;
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
}

@layer base {

  ::-webkit-scrollbar {
    width: 6px; 
  }

  ::-webkit-scrollbar-track {
    background: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background: #1f1f27; 
    border-radius: 10px;
    border: 1px solid #000000;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #7c3aed;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #1f1f27 #000000;
  }
}